<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="UTN.Winform.Electronics.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	
	<!--Parametros y APIS-->
	<appSettings>
		<add key="NombreEmpresa" value="UTN Company." />
		<add key="URLPadron" value="https://api.hacienda.go.cr/fe/ae?identificacion=" />
		<add key="URLProvincia" value="https://raw.githubusercontent.com/lateraluz/Datos/refs/heads/master/provincias.json" />
	</appSettings>

	<!--Conexion de la base Datos-->
	<connectionStrings>
		<add name="dataBase" connectionString="Data Source=localhost;Initial Catalog=CatTech;Persist Security Info=True;User ID=sa;Password=123456"
            providerName="System.Data.SqlClient" />
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="wsindicadoreseconomicosSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="wsindicadoreseconomicosSoap1" />
            </basicHttpBinding>
            <customBinding>
                <binding name="wsindicadoreseconomicosSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpsTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="https://gee.bccr.fi.cr/Indicadores/Suscripciones/WS/wsindicadoreseconomicos.asmx"
                binding="basicHttpBinding" bindingConfiguration="wsindicadoreseconomicosSoap"
                contract="BCCR.wsindicadoreseconomicosSoap" name="wsindicadoreseconomicosSoap" />
            <endpoint address="https://gee.bccr.fi.cr/Indicadores/Suscripciones/WS/wsindicadoreseconomicos.asmx"
                binding="customBinding" bindingConfiguration="wsindicadoreseconomicosSoap12"
                contract="BCCR.wsindicadoreseconomicosSoap" name="wsindicadoreseconomicosSoap12" />
        </client>
    </system.serviceModel>
</configuration>